<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean class="in.sp.beans.Student" id="stdId">
		<property name="name" value="Shailesh"></property>
		<property name="rollNO" value="101"></property>
		<property name="marks" value="70.5f"></property>
	</bean>
</beans>